<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junjunguo.ponggame" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartController"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsController"
            android:label="@string/title_activity_settings_controller" >
        </activity>
        <activity
            android:name=".Choice1Controller"
            android:label="@string/title_activity_choice1_controller"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Choice2Controller"
            android:label="@string/title_activity_choice2_controller"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".RunGameActivity"
            android:label="@string/title_activity_run_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Result"
            android:label="@string/title_activity_result" >
        </activity>
    </application>

</manifest>
